- content_for :title, "About Acromatic"

%center
  %table{width: "50%"}
    %tr
      %td
        %h1 About Acromatic
        %p Upload an .odt (LibreOffice) or .docx document (Word 2007 and later) and get a list of all the acronyms it contains, ready to be pasted into an acronyms definition list.  They're sorted alphabetically.
        %p You can select what you consider an acronym: could it be plural like TORs?  Can it include interior symbols like IS-LM or S&DT?  What about numbers, like USA2016?  Can it have inner lower-case letters like AusAID?  (CamelCase never counts.)  Are two letters enough to count as an acronym?  What if it's a valid Roman numeral like VII?
        %p We're testing a new feature that tries to pull out inline definitions, so if you introduce each acronym like this in your document, they may (fingers crossed!) be defined for you: "three-letter acronym (TLA)".  Leave "infer meanings from text" checked to try this.
        %p This is alpha-quality code.  Do not upload anything confidential or sensitive.  There is no guarantee that others will not be able to access your document or your acronym list.  The definition of an acronym is not yet all that well defined and may change without warning.  If a document that you upload doesn't work properly, we reserve the right to use that document to help us fix the problem and test any solution.

        %center= link_to 'Report a problem', 'https://github.com/repent/acromatic/issues'
        %br
        %center= link_to 'Upload a document', new_document_path