/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'styles';

body {
  font-family: $body; /* "Avenir Next W01", Arial, "sans-serif"; */
  font-size: $body-size;
  text-align: justify;
  font-color: $text-colour;
}

#userbar {
  font-size: $small-size;
}

textarea {
  font-family: $mono;
  font-size: $mono-size;
}

a {
  color: $text-colour;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

h1 {
  font-family: $headers;
  font-size: $header-size;
  text-align: center;
}

td {
  text-align: justify;
}

#userbar {
  text-align: right;
  //color: white;
  //background-color: #444444;
  padding: 5px;
  a {
    //color: white;
  }
}

