// Place all the styles related to the Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.acronym {
  font-weight: bold;
  color: #900;
  font-style: underline;
}

td.strikethrough {
  text-decoration: line-through;
}

td.left   { text-align: right; }
td.middle { text-align: center; }
td.right  { text-align: left; }
