@import 'styles';

/* @import "colours"; */

/*
body {
  background-color: #fff;
  color: #333;
  line-height: 18px;
}
*/

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}


/*
$alert_red: #900;
$alert_pink: pink;
$notice_green: #690;
*/

#notice, #alert {
  text-align: center;
  color: white;
  padding: 5pt;
}

#notice {
  background-color: $notice_green;
}

#alert {
  background-color: $alert_red;
}

.field_with_errors {
  padding: 2px;
  background-color: $alert_red;
  display: table;
  color: white;
}

#error_explanation {
  width: 450px;
  border: 2px solid $alert_red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: $alert_pink;

  h2 {
    font-size: $body-size;
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: $alert_red;
    color: white;
  }

  ul li {
    list-style: square;
  }
}
