$alert_red: #900;
$alert_pink: #fcc;
$notice_green: #690;
$text-colour: black;
$happy-row: #efc;
$sad-row: #fcc;

$body: 'Open Sans', Roboto, Arial, sans-serif;
$body-size: 12pt;
$headers: 'Alegreya', Garamond, serif;
$header-size: 24pt;
$small-size: 10pt;
$mono: 'Roboto Mono', 'Lucida Console', Monaco, monospace;
$mono-size: 9pt;
